services:
  db:
    image: postgres:15
    container_name: postgres-finance-db
    restart: always
    environment:
      POSTGRES_USER: fm-user
      POSTGRES_PASSWORD: fm-password
      POSTGRES_DB: finance_manager
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
volumes:
  db-data:
