on:
  push:
    branches:
      - main
      - master
      - develop
      - 'releases/**'
  pull_request:
      types: [opened, synchronize, reopened]

name: SonarQube Analysis
jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v5.0.0 
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        args: >
          -Dsonar.projectKey=rpadovanni_finance-manager \
          -Dsonar.organization=rpadovanni \
          -Dsonar.sources=. \
          -Dsonar.host.url=https://sonarcloud.io \

    - name: Quality Gate Check
      if: always()
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: |
        curl -X GET \
        "https://sonarcloud.io/api/qualitygates/project_status?projectKey=rpadovanni_finance-manager" \
        -u $SONAR_TOKEN: | jq .status
      shell: bash
