name: SonarQube Analysis

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  sonarQube:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    - name: Install SonarQube Scanner
      run: |
        sudo apt-get update
        sudo apt-get install --yes unzip
        wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.6.2.2472-linux.zip
        unzip sonar-scanner-cli-4.6.2.2472-linux.zip
        export PATH="$PATH:$(pwd)/sonar-scanner-4.6.2.2472-linux/bin"

    - name: Cache SonarQube packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar

    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 
      run: |
        sonar-scanner \
        -Dsonar.projectKey=rpadovanni_finance-manager \
        -Dsonar.organization=rpadovanni \
        -Dsonar.sources=. \
        -Dsonar.host.url=https://sonarcloud.io \
        -Dsonar.login=${{ secrets.SONAR_TOKEN }}

    - name: Quality Gate Check
      if: always()
      run: |
        curl -X GET \
        "$SONAR_HOST_URL/api/qualitygates/project_status?projectKey=rpadovanni_finance-manager" \
        -u $SONAR_TOKEN: | jq .status

